table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td {
    /* width: 25%; */
    /* padding: 10em !important; */
  }
  
  .mat-row:nth-child(even){
    background-color: #f5f4f4;
}
.mat-row:hover .mat-cell {
  border-color: currentColor;
  font-weight: bold;
}
