/* You can add global styles to this file, and also import other style files */

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    /* padding: 30px; */
    background-color: #fafafa;
    /* color: rgba(0,0,0,.87); */
  }
  
  html, body {
    height: 100%;
  }

  .cdk-overlay-pane {
    overflow-y: auto;
  }
  